/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import url(../../scss/editor.scss);

.wp-block-image-selector-example-image {
	.components-spinner {
		margin: 0;
		float: none;
		border-radius: 10px;
	}

	// Space consecutive buttons evenly.
	.components-button + .components-button {
		margin-top: 1em;
		margin-right: 8px;
	}
}
